# Classification Model

In [46]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
from sklearn.metrics import accuracy_score

## Importing Dataset

In [126]:
data=pd.read_csv("data.csv")
data.shape

(22704, 2)

In [127]:
data.head()

                                                Text      Target
0  reserve bank forming expert committee based in...  Blockchain
1          director could play role financial system  Blockchain
2  preliminary discuss secure transaction study r...  Blockchain
3  security indeed prove essential transforming f...  Blockchain
4  bank settlement normally take three days based...  Blockchain

In [128]:
data.isnull().sum()

Text      3
Target    0
dtype: int64

In [129]:
data['Text'].fillna(value=(data['Target'].mode()[0]),inplace=True)

In [130]:
data['Target'].unique()

array(['Blockchain', 'Bigdata', 'credit reporting', 'Cyber Security',
       'FinTech', 'Microservices', 'Neobanks', 'Robo Advising',
       'Stock Trading', 'Data Security', 'Reg Tech'], dtype=object)

In [131]:
x=data.drop(['Target'],axis=1)
y=data['Target']
x.shape,y.shape

((22704, 1), (22704,))

In [132]:
data.dtypes

Text      object
Target    object
dtype: object

In [133]:
data['Target'].unique()

array(['Blockchain', 'Bigdata', 'credit reporting', 'Cyber Security',
       'FinTech', 'Microservices', 'Neobanks', 'Robo Advising',
       'Stock Trading', 'Data Security', 'Reg Tech'], dtype=object)

## Shuffling and Creating Train and Test Data Set

In [94]:
from sklearn.utils import shuffle

#shuffling the dataset
data=shuffle(data,random_state=56)

#creating 4 divisions
div=int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train=data.loc[:3*div+1,:]
test=data.loc[3*div+1:]

train.shape, test.shape

((7832, 2), (14873, 2))

In [95]:
train.head()

                                                Text            Target
16170  peer peer approach modern investment business           FinTech
21308                                       Lawrence          Reg Tech
9724            addition research topic appear total           FinTech
17775       make customer economics work early stage          Neobanks
5077                                    credit north  credit reporting

In [96]:
test.head()

                                                    Text          Target
17029  proper implementation would otherwise nightmar...   Microservices
9291   basis high frequency trading asset management ...         FinTech
6221                 card digital digital interbank card  Cyber Security
16090  some sell access information either model tran...         FinTech
15001  opportunity transform financial industry worki...         FinTech

## Simple Mode

In [97]:
test['simple_mode']=train['Target'].mode()[0]
test['simple_mode'].head()

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

17029    FinTech
9291     FinTech
6221     FinTech
16090    FinTech
15001    FinTech
Name: simple_mode, dtype: object

In [98]:
simple_mode_accuracy = accuracy_score(test['Target'], test['simple_mode'])
simple_mode_accuracy

0.3787399986552814